body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar{
  overflow: hidden;
  background: blue;
  color:#fff;
}
.container{
  width:80%;
  margin: auto;
}
.logo{
 
  width: 30%;
  float: left;
  display: block;
  margin:10px 0;
  color: #fff;
}
ul{
  width: 70%;
  float: left;
  padding: 0;
  text-align:right;
}
ul a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}